*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dshbdlogo{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 2px;
    padding: 55px 0px 19px 0px;
}
.sdnnavrow{
    margin-bottom: 0px;
}
.dashbdsidenav{
    background-color: #5fb49c;
    /* min-width: 27%; */
    padding-right: 25px;
    padding-left: 22px;
    padding-bottom: 120px;
}
.mobdashbdsidenav{
    background-color: #5fb49c;
    min-width: 100%; 
    padding-right: 25px;
    padding-left: 22px;
    padding-bottom: 272px;
}
.strtbtn{
    background-color: #e9f2e9;
    color: #5fb49c;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.sdenavline{
   margin: 21px 0px;
}
.sidenvimg{
    margin: 0px 16px 3px 0px;
}
.sidnavoptions{
    background-color: #fff;
    color: #5fb49c;
    font-weight: 700;
    font-size: 17px;
    padding: 20px 20px 20px 57px;
    border-radius: 10px;
    margin-bottom: .2rem;
}
.sidnavoptionsna{
    color:#fff;
    font-weight: 700;
    font-size: 17px;
    padding: 20px 20px 20px 57px;
    border-radius: 10px;
    transition: all .1s;
}
.sidnavoptionsna:hover{
    color: #5fb49c !important;
    background-color: #fff;
    cursor: pointer;
}

.sidenavaccheader{
    background-color: inherit;
    border-bottom: none;
    color: #fff;
    padding: 20px 20px 20px 57px;
    font-weight: 700;
    border-radius: 6px !important;
    cursor: pointer;
}
.sidenavacc{
    color: #fff;
    font-weight: 700;
}

.sidenavaccheader:hover{
    background-color: #fff;
    color: #5fb49c;
}
.mrginbttm{
    margin-bottom: 244px;
}
.sdenavline2{
    margin-bottom: 50px;
}
.sidnavsavingsdv{
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
.savingsheader{
    color: #5fb49c;
    font-size: 17px;
    font-weight: 700;
}
.savingspgphdiv{
    text-align: -webkit-center;
}
.savingsprgrph{
    color: #9999;
    font-size: 13px;
    margin-bottom: 0px;
    width: 94%;
}
.sdenavsavingsbtn{
    display: inline-block;
    border: 1px solid #5fb49c;
    color: #5fb49c;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 22px;
    font-weight: 700;
    transition: all .4s;
    width:160px;
    text-align:center;
}
.sdenavsavingsbtn:hover{
    color: #fff;
    background-color: #5fb49c;
    cursor: pointer;
}
.udshboard{
    background-color: #f9f9f9;
    padding-right: 2rem;
    padding-left: 42px;
}
.udashsearchdiv{
    padding-top: 40px;
}
.dshbdsearchbar{
    height: 66px;
    border-radius: 6px;
    padding: 9px;
    border: none;
    outline: none;
}
.udashsearchdiv{
    display: flex;
    justify-content: space-between;
}
.seachcol{
    width: 65%;
}
.burgercol{
    width: 35%;
}
.dshbdsearchbar:focus{
    outline: none !important;
    border: none !important;
}
.mobile_appstatus_section{
    background-color: #fff;
    border-radius: 7px;
    width: 100%;
   padding: 12px;
}
.mobile_appstatus_section{
    display: none;
}
.mobileappstatsheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bbbbbb8e;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.mobile_appstatusbody{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bbbbbb8e;
    padding-bottom: 6px;
    margin-bottom: 26px;
}
.mobilestatusitem{
    width: 100%;
}
.adjdiv{
    width: 71%;
}
.viewdiv{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.mobviewbtn{
   width: 46%;
   color: #5fb49c;
   border: 1px solid #5fb49c;
   border-radius: 6px;
   text-align: center;
   padding: 8px;
   font-size: 14px;
}

.mobprintbtn{
 width: 50%;
 background-color: #5fb49c;
 color: #fff;
 border-radius: 6px;
 text-align: center;
 padding: 8px;
}
.mobsavheader{
    font-size: 15px;
}
.mobilepropstatsdv{
    padding: 15px;
    background-color: #fff;
    display: none;
}
.mobstatsrvbtn{
    font-size: 10px;
    color: #ff523d;
    font-weight: 700;
    background-color: rgba(255, 82, 61, 0.1);
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}
.rmpad{
    padding: 19px 0px !important;
}
.mobbung{
    background-color: #fff;
    border-bottom: 1px solid #bbbbbb8e;
    padding: 11px 0px;
}
.mobsubheading{
    color: #999;
    font-size: 11px;
    margin-bottom: 1px;
    font-weight: 700;
    background-color: #fff;
}
.mobprop{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.63);
    font-weight: 700;
    margin-bottom: 4px
}
.lastprop{
    border-bottom: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.barsimg{
    display: none;
}
@media (max-width: 1024px){
    .equityamt{
        font-size: 15px !important;
    }
}
@media (max-width: 280px){
    .equityamt{
        font-size: 14px !important;
    }
}
@media (max-width: 768px){
    .barsimg{
        display: block;
    }
    .dashbdsidenav{
        display: none;
    }
    .uimg{
        display: none;
    }
    .usernavdrpdwn{
        display: none;
    }
    .userdashids {
        margin-top: 14px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .udshboard{
        padding: 0px 12px;
        min-width: 100%;
    }
    .apstatus-section{
        display: none;
    }
    .mobile_appstatus_section{
        display: block;
    }
    .mobilepropstatsdv{
        display: block;
    }
    .propstatsdvsection{
        display: none;
    }
    .equityamt{
        font-size: 17px !important;
    }
    .credrep{
        display: none;
    }
    .mobcredrep{
        display: block;
    }
}
.mobcredrep{
    display: none;
}

.mobileitemprice{
    font-size: 15px;
    color: #666666;
    font-weight: 700;
}
.mobileppstheadin{
    font-size: 11px;
    color: #999;
    font-weight: 700
}
.userdashids{
    margin-top: 14px;
}
.usernavdrpdwn{
    width: 0% !important;
    color: rgba(0, 0, 0, 0.63);
    background-color: inherit !important;
    border: none;
    padding: 0px;
    margin-right: 14px;
}
.usernavdrpdwn:focus{
    border: none !important;
    outline: none !important;
}
.usernavdrpdwn:hover{
    color:rgba(0, 0, 0, 0.63) !important; 
}
.uddrpdwndiv{
    text-align: right;
}
.arrimg{
    margin-right: 40px;
}
.uimg{
    margin-right: 4px;
}
.userdahbdname{
    padding: 29px 0px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.603);
    padding-bottom: 1rem;
}
.userdahbdname>span{
    color: rgba(0, 0, 0, 0.63);
    font-weight: 700;
}
.apstatus-section{
    background-color: #fff;
    border-radius: 6px;
    padding: 6px 0px 25px 0px
}
.applctnheader{
    display: flex;
    padding: 10px 56px 0px 19px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}
.udashboadprimheader{
    color: #5fb49c;
    font-weight: 700;
    font-size: 20px;
}
.applctnheader>div{
    color: #1359f2;
    background-color: rgba(3, 50,154,0.1);
    font-weight: 700;
    font-size: 13px;
    border-radius: 6px;
    padding: 8px 17px;
    cursor: pointer;
}
.udshbdeye{
    margin-right: 10px;
}



.appstatusheadings{
    display: flex;
    justify-content: space-around;
    color: #999;
    font-size: 12px;
    font-weight: 700;
    padding: 1rem;
}
.appstatusheadings>div{
    margin-right: 77px;
}
.statusline-img{
    border-bottom: 1px solid  #bbbbbb8e;
    margin-left: 3.4rem;
    margin-right: 3rem;
    padding-bottom: .2rem;
    margin-bottom: .9rem;
}
.appstatus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 9px;
    margin-top: 12px;
}
.statsitem{
    font-weight: 700;
    color: #666666;
}
.itemprice{
    color: rgba(0, 0, 0, 0.63);
    font-size: 22px;
    font-weight: 700;
}
.statsreview-btn{
    color: #ff523d;
    font-size: 13px;
    font-weight: 700;
    background-color: rgba(255, 82, 61, 0.1);
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}
.statsprints-btn{
    color: #fff;
    background-color: #5fb49c;
    border-radius: 6px;
    padding: 7px 45px;
    font-weight: 700;
    cursor: pointer;
}
.dxxa{
    display: flex;
    align-items: center;
}
.sassa{
    position: relative;
    left: 1rem;
    bottom: .4rem;
}
.searchImage{
    position: absolute;
}
.dshbdsearchbar{
    padding-left:   2.9rem;
}
.dshbdsearchbar::placeholder{
    color: #BBBBBB;
}
.dropdown-menu.show{
    box-shadow: 0px 8px 24px rgba(25, 32, 56, 0.24);
    border-radius: 8px;
    border: none;
    margin-top: 1rem;
}
@media(max-width:1200px){
    .statusline-img{
        margin-left: 2rem;
    }
    .sidnavoptionsna {
        padding: 20px 20px 20px 11px;    
    }
}
.udashbdaccdiv{
    margin-top: 30px;
}
.udashbdacrd{
    border: none;
}
.udashbdacc{
    background-color: #fff;
    cursor: pointer;
    border: none;
}
.dashacccdbdy{
    padding: 0;
}
.dashbdaccbdydescr{
    display: flex;
    justify-content: space-around;
    padding: 18px;
}
.dashbdaccbdyitems{
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
    padding: 18px;
}
.whitebackground{
    background-color: #fff;
}
.tyofdoc{
    width: 60%;
    color: #999;
    font-size: 12px;
    font-weight: 700;
}
.stats{
    width: 40%;
    color: #999;
    font-size: 12px;
    font-weight: 700;
}
.dashbdacbdyitem1{
    width: 54%;
    color: #666666;
    font-size: 15px;
    font-weight: 700;
    
}
.dashbdacbdyitem2{
    width: 17%;
    color: #0fbc49;
    font-size: 8px;
    text-align: center;
    font-weight: 700;
    background-color: rgba(15, 188, 73, 0.1);
    padding-top: 6px;
    border-radius: 6px;
    cursor: pointer;
}
.dashbdacbdyitem3{
    width: 14% !important;
    text-align: end;
}
.dashbdacbdyitem4{
    width: 8%;
    text-align: end;
    cursor: pointer;
}
.pendingbtn{
    color: #ff523d;
    background-color: rgba(255, 82, 61, 0.1);
}

.equitywrapper{
    display:flex;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 32px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: .1px solid #bbbbbb8e;
    padding: 22px 25px 5px 17px;
}
.equityimg{
    margin-top: 36px;
    margin-bottom: 10px;
}
.equitytext{
    font-size: 12px;
    color: #999;
    font-weight: 700;
    margin-bottom: 3px;
}
.equityamt{
    color: rgba(0, 0, 0, 0.63);
    font-size: 22px;
    font-weight: 700;
}
.equityamtdivs{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 25px 0px 17px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.eqrghtdv{
    border-left: .1px solid #bbbbbb65;
    padding-top: 22px;
    padding-left: 11px
}
.eqleftdv{
    padding-top: 22px;
    padding-right: 11px;
}
.accordion>.card:first-of-type{
    border-radius: 6px;
}
.collapse {
    margin-top: 0px;
}
.carousel-section{
    display: inline-block;
    background-image: url(../../assets/house.png);
    border-top-right-radius: 8px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 32px;
}
.cardiv{
    display: flex;
    justify-content: space-between;
    padding: 73px 23px;
}
.propstatsdv{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    padding: 19px;
    border-bottom: 1px solid #bbbbbb8e;
}
.undsctrnbtn{
    background: rgba(3, 50, 154, 0.1);
    color: #1359f2;
    padding: 7px 11px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}
.bung{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.63);
    font-weight: 700;
    padding: 20px 64px;
    border-bottom: 1px solid  #bbbbbb8e;
}
.propprice{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.63);
    padding: 0px 45px; 
}
.propprice:not(:last-child){
    border-bottom: 1px solid  #bbbbbb8e;
}
.prpnme{
    padding: 20px;
    font-weight: 700
}   
.prpice{
    padding: 20px 19px;
    font-size: 24px;
    font-weight: 700;
    border-left: 1px solid  #bbbbbb8e;
}
.prpnme2{
    padding: 20px 131px 0px 20px;
    color: rgba(0, 0, 0, 0.63);
    font-weight: 700;
    border-left: 1px solid  #bbbbbb8e;
}
.prpnme3{
    padding: 20px 64px 0px 21px;
    color: rgba(0, 0, 0, 0.63);
    font-weight: 700;
    border-left: 1px solid  #bbbbbb8e;
}
.doctxt{
    color: #999999;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* margin-left: 55px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.thinss{
    font-weight: 300;
    padding-right: .1rem;
    padding-left: .1rem;
}
.creditreport-section{
    margin-top: 32px;
    border-radius: 6px;
    border: none;
    padding: 12px 0px 25px 0px;
}
.creditreport-header{
    background-color: #fff;
    border-bottom: none;
    color: #5fb49c;
    font-weight: 700;
    font-size: 20px; 
}
.creditrprt-body{
    text-align: center;
    text-align: center;
    color: #9999;
    font-size: 14px;
    font-weight: 700;
}
.crrpimg{
    margin-bottom: 12px;
}
.mortgage-section{
    border: none;
    border-radius: 8px;
}
.mortgage-header{
    background-color: #fff;
    border-bottom: none;
    text-align: center;
    color: #5fb49c;
    font-weight: 700;
    font-size: 18px;
}
.mortgage-body{
    text-align: center;
    font-size: 13px;
    color: #999;
}
.mortgage-body>p{
    margin: 0;
}
.mortgage-btn{
    display: inline-block;
    border: 1px solid #5fb49c;
    color: #5fb49c;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 54px;
    font-weight: 700;
    margin-top: 27px;
    transition: all .4s;
}
.mortgage-btn:hover{
    background-color: #5fb49c;
    color: #fff;
    cursor: pointer;
}
.dets-body{
    color: #999;
    font-size: 13px;
}
.dets-body>p{
    margin-bottom: 0px;
}
.dets-body>div{
    text-align: center;
}
.mnww{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
 