.react-multiple-carousel__arrow--left, .react-multiple-carousel__arrow--right{
    position: none;
}

.hh44{
    bottom: 0px;
    margin-bottom: 0px;
}
.hht4{
    bottom: 0px;
}
.have_d{
    position: relative;
    top: .8rem;
}
