@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("./NHaasGrotesk-Bd.ttf") type("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("./NHaasGrotesk-Md.ttf") type("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("./NHaasGrotesk-Rg.ttf") type("truetype");
  font-weight: normal;
  font-style: normal;
}
